.project-container {
  width: 70%;
  height: auto;
  padding: 0;
  padding-bottom: 200px;
  margin: 0 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.underline-wrapper {
  height: 40px;
  position: relative;
  margin-left: -10px;
  padding-left: 0;
  /*position: relative;
  padding-left: 10px;*/
}

.underline {
  position: absolute;
  left: 0;
  top: 50%;
  width: 1000px;
  height: 8px;
  background: #433285;
  transform: translateY(-50%);
  /*position: absolute;
  left: 280px;
  top: -201px;
  bottom: 0;
  width: 10px;
  background: #433285;
  z-index: 20;*/
}

.project-container a {
  text-decoration: none;
  color: inherit;
}

.project-content {
  display: flex;
  flex-direction: column;
  color: black;
  width: 80%;
  /*margin-left: 200px;*/
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.project-list h2 {
  font-size: xx-large;
}

.project-links {
  display: flex;
  gap: 15px;
}

.project-links img {
  width: 90px;
  height: auto;
}

#title {
  cursor: pointer;
}
