.about-container {
  width: 80%;
  height: auto;
  padding: 0;
  margin: 0 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: green;
}

.about-content {
  display: flex;
  flex-direction: column;
  color: black;
  width: 80%;
}
