.home-container {
  width: 100%;
  height: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 150px;
  margin-bottom: 150px;
  /*background-color: aqua;*/
}

.introduction {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80%;
  gap: 30px;
  margin-left: 130px;
  /*background-color: red;*/
}

.introduction img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.introduction h1 {
  font-size: 48px;
  color: #111111;
  padding: 0;
  margin: 0;
}

.introduction-text {
  color: #111111;
  /*line-height: 1.5;*/
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*background-color: lime;*/
}

.introduction-text h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.introduction-text p {
  text-decoration: underline;
  cursor: pointer;
}
