.contact-container {
  width: 80%;
  height: auto;
  padding: 0;
  margin: 0 300px;
  /*margin-bottom: 200px;*/
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.underline-wrapper {
  height: 40px;
  position: relative;
  /*position: relative;
  padding-left: 10px;*/
}

.underline {
  position: absolute;
  left: 0;
  top: 50%;
  width: 600px;
  height: 8px;
  background: #433285;
  transform: translateY(-50%);
  /*position: absolute;
  left: 280px;
  top: -201px;
  bottom: 0;
  width: 10px;
  background: #433285;
  z-index: 20;*/
}

.contact-content {
  display: flex;
  flex-direction: column;
  color: black;
  width: 80%;
}

.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

#arrows {
  width: 250px;
  height: 150px;
}

#icons {
  width: 130px;
  height: 130px;
}

#thanks {
  width: 500px;
  font-weight: bolder;
  font-size: 50px;
}
