.contact-container {
  width: 80%;
  height: auto;
  padding: 0;
  margin: 0 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.underline-wrapper {
  height: 40px;
  position: relative;
}

.underline {
  position: absolute;
  left: 0;
  top: 50%;
  width: 600px;
  height: 8px;
  background: #433285;
  transform: translateY(-50%);
}

.contact-content {
  display: flex;
  flex-direction: column;
  color: black;
  width: 80%;
}

.contact-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin: 20px 0;
}

.arrow-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.arrow-container p {
  margin: 0;
  font-size: 22px;
  font-weight: 900;
}

.arrow-line {
  width: 300px;
  height: 10px;
  background: #433285;
  position: relative;
  margin-left: -10px;
}

.arrow-line::after {
  content: "";
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #433285;
}

#icons {
  width: 100px;
  height: 100px;
}

#thanks {
  width: 500px;
  font-weight: bolder;
  font-size: 50px;
}

.mobile-only {
  display: none;
}

@media (max-width: 1024px) {
  .contact-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 100px;
  }

  #title {
    font-size: 2rem;
    text-align: center;
  }

  .underline-wrapper {
    width: 100%;
    max-width: 100%;
    overflow: visible;
  }

  .underline {
    width: 80% !important;
    max-width: 100%;
    position: relative;
    left: 0;
    right: 0;
  }

  .desktop-only {
    display: none;
  }

  .contact-links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 20px;
    margin-top: 30px;
  }

  .contact-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #icons {
    width: 100px;
    height: 100px;
  }

  .mobile-only {
    display: block;
    font-size: 18px;
    text-align: center;
  }
}
