.home-page {
  width: 100%;
  height: auto;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introduction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 300px;
}

.next-page {
  width: 200px;
  height: 150px;
  background-color: lightsalmon;
  display: flex;
  align-items: center;
  justify-content: center;
}
