.navbar {
  width: 100%;
  height: 80px;
  padding: 0;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: right;
}

.links {
  display: flex;
}

.links a {
  font-size: 26px;
  font-weight: bold;
  margin: 0 30px;
  text-decoration: none;
  color: #433285;
  transition: transform 0.2s ease, color 0.2s ease;
}

.links a:hover {
  transform: scale(1.2);
  color: white;
}
