.project-container {
  width: 80%;
  height: auto;
  padding: 0;
  margin: 0 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: yellow;
}

.project-container a {
  text-decoration: none;
  color: inherit;
}
.project-content {
  display: flex;
  flex-direction: column;
  color: black;
  width: 80%;
  /*margin-left: 200px;*/
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-links {
  display: flex;
  gap: 15px;
}

.project-links img {
  width: 90px;
  height: auto;
}

#title {
  cursor: pointer;
}
