.project-container {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  /*background-color: aqua;*/
}

#title {
  color: black;
  font-weight: bolder;
  font-size: 40px;
  padding: 0;
  margin-left: 170px;
  text-decoration: underline;
  cursor: pointer;
}

#copy {
  color: black;
  font-weight: bolder;
  padding: 0;
  margin-left: 200px;
  font-size: 30px;
}

#short-copy {
  color: black;
  font-weight: bolder;
  padding: 0;
  margin-left: 170px;
  font-size: 20px;
}

.project-content {
  display: flex;
  flex-direction: column;
  color: black;
  margin-left: 200px;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-container a {
  text-decoration: none;
  color: inherit;
}
