.project-container {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /*background-color: aqua;*/
}

#title {
  color: black;
  font-weight: bolder;
  font-size: 40px;
  padding: 0;
  /*margin-left: 170px;*/
  text-decoration: underline;
  cursor: pointer;
}

#copy {
  color: black;
  font-weight: bolder;
  padding: 0;
  /*margin-left: 200px;*/
  font-size: 30px;
}

#short-copy {
  color: black;
  font-weight: bolder;
  padding: 0;
  /*margin-left: 170px;*/
  font-size: 20px;
}

.project-content {
  display: flex;
  flex-direction: column;
  color: black;
  width: 80%;
  /*margin-left: 200px;*/
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-links {
  display: flex;
  gap: 15px;
}

.project-links img {
  width: 90px;
  height: auto;
}

.project-container a {
  text-decoration: none;
  color: inherit;
}
