.work-container {
  width: 80%;
  height: auto;
  padding: 0;
  margin: 0 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: aqua;
}

#title {
  color: black;
  font-weight: bolder;
  font-size: 40px;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
}

#copy {
  color: black;
  font-weight: bolder;
  padding: 0;
  font-size: 30px;
}

#short-copy {
  color: black;
  font-weight: bolder;
  padding: 0;
  font-size: 20px;
}

.work-content {
  display: flex;
  flex-direction: column;
  color: black;
  width: 80%;
}
