.navbar {
  width: 100%;
  height: 80px;
  padding: 0;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: right;
}

.buttons {
  display: flex;
}

.buttons button {
  font-size: 26px;
  font-weight: bold;
  margin: 0 30px;
  text-decoration: none;
  color: #433285;
  background-color: #deb3c3;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.buttons button:hover {
  transform: scale(1.2);
  color: #6d56b0;
}
