.work-container {
  width: 80%;
  height: auto;
  padding: 0;
  padding-bottom: 200px;
  margin: 0 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /*background-color: aqua;*/
}

.underline-wrapper {
  height: 40px;
  position: relative;
  /*position: relative;
  padding-left: 10px;*/
}

.underline {
  position: absolute;
  left: 0;
  top: 50%;
  width: 900px;
  height: 8px;
  background: #433285;
  transform: translateY(-50%);
  /*position: absolute;
  left: 280px;
  top: -201px;
  bottom: 0;
  width: 10px;
  background: #433285;
  z-index: 20;*/
}

.work-content {
  display: flex;
  flex-direction: column;
  color: black;
  width: 80%;
}

.work-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.work-list h2 {
  font-size: xx-large;
}

.work-list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

#title {
  cursor: pointer;
}
