.work-container {
  width: 80%;
  height: auto;
  padding: 0;
  padding-bottom: 200px;
  margin: 0 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /*background-color: aqua;*/
}

.work-content {
  display: flex;
  flex-direction: column;
  color: black;
  width: 80%;
}

.work-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.work-list h2 {
  font-size: xx-large;
}

.work-list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

#title {
  cursor: pointer;
}
